{% extends 'Layouts/Base.html' %}

{% block content %}

<section class="vision">
    <h2 class="section-title">Visión</h2>
    <p class="section-content">
        En Huellitas, aspiramos a ser una organización referente en la protección y bienestar animal a nivel nacional e internacional. Nuestra visión es crear un mundo donde cada animal tenga la oportunidad de vivir una vida plena, saludable y libre de sufrimiento. Nos comprometemos a fomentar una comunidad global en la que humanos y animales coexistan en armonía, basándonos en principios de respeto, compasión y responsabilidad. A través de nuestras acciones, buscamos inspirar cambios positivos en las políticas y prácticas relacionadas con el trato a los animales, promoviendo la adopción en lugar de la compra, y defendiendo los derechos de aquellos que no tienen voz.
    </p>
</section>
<section class="mision">
    <h2 class="section-title">Misión</h2>
    <p class="section-content">
        La misión de Huellitas es proteger y mejorar la vida de los animales mediante una serie de programas y servicios integrales:
        <ul class="mission-list">
            <li class="mission-item"><strong>Rescate y Rehabilitación:</strong> Nos dedicamos a rescatar animales que se encuentran en situaciones de maltrato, abandono o peligro. Proveemos cuidados veterinarios, rehabilitación y un ambiente seguro donde puedan recuperarse física y emocionalmente.</li>
            <li class="mission-item"><strong>Adopción Responsable:</strong> Promovemos la adopción de animales rescatados, asegurándonos de que cada adopción se realice de manera responsable y que los adoptantes comprendan las necesidades y el compromiso que conlleva tener una mascota. Realizamos seguimientos post-adopción para garantizar el bienestar continuo del animal.</li>
            <li class="mission-item"><strong>Educación y Concienciación:</strong> Implementamos programas educativos en escuelas, comunidades y medios digitales para concienciar sobre la importancia del cuidado y respeto hacia los animales. Creemos que la educación es fundamental para crear una sociedad empática y responsable.</li>
            <li class="mission-item"><strong>Campañas de Esterilización y Salud:</strong> Organizamos jornadas de esterilización y vacunación gratuitas o de bajo costo para controlar la población animal y prevenir enfermedades. Fomentamos la tenencia responsable y proporcionamos información sobre el cuidado adecuado de las mascotas.</li>
            <li class="mission-item"><strong>Defensa y Políticas Públicas:</strong> Trabajamos activamente en la defensa de los derechos de los animales, colaborando con legisladores y organizaciones para impulsar leyes y políticas que protejan a los animales. Participamos en campañas y movimientos que buscan mejorar las condiciones de vida de los animales a nivel local y global.</li>
            <li class="mission-item"><strong>Voluntariado y Comunidad:</strong> Fomentamos la participación de voluntarios que compartan nuestra pasión por los animales. Ofrecemos oportunidades para que las personas se involucren en diversas actividades, desde el cuidado directo de los animales hasta la organización de eventos y campañas de recaudación de fondos.</li>
        </ul>
    </p>
</section>




{% endblock %}
